version: '1.0'
name : "pharmacy_mangement_system"
services:
    backend:
        image: "python:3.12-slim"
        container_name: "pharmacy_mangement_system_backend"
        build:
            context: ./backend
            dockerfile: Dockerfile.dev
        ports:
            - "8000:8000"
        volumes:
            - ./backend:/app
    
    frontend:
        image: "node:22-alpine"
        container_name: "pharmacy_mangement_system_frontend"
        build:
            context: ./frontend
            dockerfile: Dockerfile.dev
        ports:
            - "3000:3000"
        volumes:
            - ./frontend:/app